* {
    box-sizing: border-box;
    font-size: inherit;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    line-height: 1.5;
    color: #333333;
    overflow-y: scroll;
}

/* header styles moved to inline styles in base.tmpl */

nav {
    display: flex;
    gap: 1rem;
}

/* footer styles moved to inline styles in footer.tmpl */

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

/* main styles moved to inline styles in base.tmpl */

main form > div {
    margin-bottom: 1rem;
}

label {
    display: block;
}

input {
    padding: 0.5rem;
}

button {
    cursor: pointer;
    font-family: inherit;
    line-height: normal;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.error {
    color: red;
}

span.error {
    display: block;
}
